#Ignoring Pythong Virtual Environment
/venv/*
/.vscode/*
/object-detection/yolo/
__pycache__/*

#Sound-Recognition
/dataset/
sound-recognition/dataset/
sound-recognition/devicehive-audio-analysis/
Large-Scale-Audio-dataset/
UrbanSound8k/
/runs
.DS_Store

# Data Files
data/
Demo/

#Yolo Weights
*.pt